{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Pad</title>
	
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>




    <section>
        <figure>
            <img src="{% static 'css/if_Survey_2290855.svg' %}" />
        </figure>

        <article>
            <h3>Tasky</h3>
             {% block content %}
			{% endblock %}
        </article>
    </section>
	
	<section>
        <figure>
            <img src="{% static 'css/if_10_1517190.svg' %}" />
        </figure>

       
    </section>
	
	<section>
        <figure>
            <img src="{% static 'css/if_4_1517203.svg' %}" />
        </figure>

       
    </section>

   <script src="enterview.js"></script>

    <script>
    enterView({
	selector: 'img',
	enter: function(el) {
		el.classList.add('entered');
	}
});
    </script>
</body>
</html>
