{% extends 'tasklist/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Login</h1>

<form method="POST">
    {% csrf_token %}
    {{ form|crispy}}

    <button class="btn btn-primary" type="submit">Login</button>
</form>

<p>Sign in with Google Account</p>
<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">

        <li>
            <a title="Google" class="socialaccount_provider google"
                href="/accounts/google/login/?process=login">Google</a>
        </li>


    </ul>

    <div class="login-or">or</div>

</div>
<p>Click here to Signup.<a type="button" class="btn btn-warning" href="{% url 'tasklist:signup' %}">Join</a></p>
{% endblock %}