<html>
{% extends 'tasklist/base.html' %}
{% block content %}

<head>
    <title>Profile</title>
</head>

<body>
    <h1>My Profile page</h1>
    <p>Welcome:{{ request.user.username }}</p>




    <h2>Your Tasks:</h2>
    {% for x in only_users_tasks %}

    <p>{{x.name}}</p>
    {% endfor %}

    <h2>Tasks added in last hour:</h2>
    {% if newest_tasks %}
    {% for x in newest_tasks %}

    <p>{{x.name}}</p>
    {% endfor %}
    {% else %}
    <p>Sorry no New Tasks added in last hour.</p>
    {% endif %}
</body>

</html>
{% endblock %}